div.manual {
    width: 100%;
}

a.cargaItem {
    width: 100%;
    font-size: 14pt;
    text-decoration: none;
    // background-color: #ddd;
    color: #44f;
    display: block;
    // -webkit-box-shadow: $borderShadow;
    // -moz-box-shadow: $borderShadow;
    // box-shadow: $borderShadow;
}