@font-face {
    font-family: 'Myriad';
    src: url('../fonts/Myriad\ Pro\ Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
    width: 100%;
 }

 body {
    font-size: 62.5%; //10pt;    
 }

.borda {
    border: 4px solid navy;
    max-width: 711px;
    width: auto;
    margin: 5%;
}

@media (max-width: 430px){
    .borda {
        border: 4px none navy;
        max-width: 711px;
        width: auto;
        margin: 5%;
    }
    
    .container-fluid {
        padding: 0%; 
    }
}


.fz-18 {
    font-size: 18pt;
}

.fz-14 {
    font-size: 14pt;
}

.fz-13 {
    font-size: 13pt;
}

.fz-12 {
    font-size: 12pt;
}

.fz-11_5 {
    font-size: 11.5pt;
}

.under {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

#divLastMsg {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    line-height: 1.1;
}

a:hover {
    background-color: silver !important;
}

.info {
    background-color: rgb(202, 225, 255);
    border: 2px solid black;
    font-size: 13pt;
    color: black;
    margin: auto 10px auto 10px;
}

ul {
    margin: 0px;
}

.ai-left{
    align-items: center;
    justify-content: flex-start !important;

} 