$borderShadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

img, 
#imgTop,
#imgChip {
    width: 100%;
    max-width: 100%;
    min-width: 240px;
}

#imgObd {
    width: 50%;

}

.imgShad {
    border: 2px solid black;
    -webkit-box-shadow: $borderShadow;
    -moz-box-shadow: $borderShadow;
    box-shadow: $borderShadow;
}

// @media (max-width: 900px) {
//     img {
//         max-width: 600px;
//     }
// }
// @media (max-width: 700px) {
//     img {
//       max-width: 400px;
//     }
//   }
  
// @media (max-width: 500px) {
//     img {
//       max-width: 250px;
//     }
// }
