$borderShadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

body {
    -webkit-print-color-adjust: exact;
}



@page {
    margin-top: 0.75cm;
    margin-left: 0.75cm;
    margin-right: 0.75cm;
    margin-bottom: 0.75cm;
    size: A4;
}



@media print {

    nav {
        display: none;
    }

    body {
        margin:0;
        padding:0;     
    }

    header:after {
        // content: "www.smashing-winery.com";
    }
    
    .borda {
        border: 4px solid navy;
        border: none;
        max-width: 100% !important;
        margin: 1.7cm;
        width: calc(100% - 3.4cm);
        
    }
    #pageborder {
        position: fixed;
        left: 0cm;
        right: 0cm;
        top: 0cm;
        bottom: 0cm;
        border: 4px solid navy;
      }   
      .fz-18 {
        font-size: 1.8rem;
    }
    
    .fz-14 {
        font-size: 1.4rem;
    }
    
    .fz-13 {
        font-size: 1.3rem;
    }
    
    .fz-12 {
        font-size: 1.2rem;
    }
    
    .fz-11_5 {
        font-size: 1.15rem;
    } 
    .screenInCon {
        font-size: 1.2rem;
    }
    .imgShad {
        border: 2px solid black;
        -webkit-box-shadow: $borderShadow !important;
        -moz-box-shadow: $borderShadow !important;
        box-shadow: $borderShadow !important;
    }
    .screenCon {
        border: 2px solid black;  
        background-color: rgb(219, 219, 219);
        -webkit-box-shadow: $borderShadow !important;
        -moz-box-shadow: $borderShadow !important;
        box-shadow: $borderShadow !important;    
    }
    
    .screenConMenu {
        -webkit-box-shadow: $borderShadow !important;
        -moz-box-shadow: $borderShadow !important;
        box-shadow: $borderShadow !important;    
    }

    .newPage {
        page-break-inside: avoid;
        page-break-after: avoid;
    }
    
    .newPageForce {
        page-break-before: always;
    }    
}