<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workbook</title>

    <link rel="stylesheet" href="/css/index/index.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/css/fancybox/jquery.fancybox.min.css">

    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/dragscroll/dragscroll.min.js"></script>
    <script src="./js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox.min.js"></script>
</head>

<body class="dragscroll">


    <div id="loader">
        <img class="loader" src="/images/loader2.gif" alt="load">
    </div>

    <div id="toggle" onclick="changeMenu(false)"></div>


    <div id='my-modal' style="display: none" onclick="changeMenu(true)"></div>


    <nav class="overflow-auto my-nav2">
        <div class="fz-13" id="home">
            <a href="#" onclick="home()">Home</a>
        </div>
        <div class="accordion h-100" id="aDad">
            <a class="tree1-item w-100 d-block fz-13" href="#" id="chSumario" data-toggle="collapse"
                data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">Sumario</a>

            <div class="collapse hide" id="collapse1" aria-labelledby="chSumario" data-parent="#aDad">
                <a class="tree2-item w-100 d-block fz-12" href="#intro" onclick="changeMenu(true)">Introdução</a>
            </div>


            <a class="tree1-item w-100 d-block fz-13" href="#" id="chError" data-toggle="collapse"
                data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">Mensagens de erros</a>
            <div class="collapse hide" id="collapse2" aria-labelledby="chError" data-parent="#aDad">
                <a class="tree2-item w-100 d-block fz-12" href="#intro" onclick="changeMenu(true)">Acesso Negado</a>
            </div>

    </nav>

    <div class="container-menu">
        <aside class="menuItens">
            <a class="menuItem" href="#" onclick="loadHTML('_obdmap.html')">Obdmap One</a>
            <a class="menuItem" href="#" onclick="loadHTML('_service.html')">Obdmap Service</a>
            <a class="menuItem" href="#" onclick="loadHTML('_connect.html')">Obdmap Connect</a>
        </aside>

        <div class="manual" id="manual" onclick="changeMenu(true)">
            <!-- <a id="single_image" href="/images/conEquip.png"><img src="/images/conEquipMini.png" alt="" /></a> -->
        </div>
    </div>

</body>

<script class="myscript">

    let navSumary;
    let navErrors;
    let lblNomeCarga;
    let lblRevCarga;
    let lbldataManual;
    let imgTop;
    let imgObd;
    let imgChip;
    let lblIntro;
    let ulListFunc;
    let divIntroObs;
    let lblApplicationTitle;
    let trApplicationTable;
    let tbCars;
    let divApplicationObs;
    let divResources;
    let lblLocalTitle;
    let divLocalDesc;
    let imgLocalImage;
    let divInstruction;
    let divServices;
    let divOthersMessage;
    let lblOtherMessageTitle;
    let divLastMsg;
    let s = ''; //usado para auxialiar as ancoras
    let nav; //usado na navegação pelas ancoras


    function loadHTML(fileName) {
        try {
            event.preventDefault();
        } catch (err) {
            console.log('event não suportado!');
        }

        $.ajax({
            url: `./html/${fileName}`,
            cache: false,
            beforeSend: () => {
                $('#manual').html('');
                $('#loader').css('display', 'flex');
            },
            success: (html => {
                $('#manual').animate({ 'opacity': '0' }, 0)
                    .html(html)
                    .animate({ 'opacity': '1' }, 1000);
            }),
            complete: (s => {
                console.log(s);
                $('#loader').css('display', 'none');
            })

        });
    }


    function itemMenuClick(fileName) {
        changeMenu(true);
        loadHTML(fileName);
    }

    function home() {
        $('aside.menuItens').css('display', 'block');
        $('#manual').html('');
        $('#toggle').css('display', 'none');
        $('.my-nav2').css('display', 'none');
        $('#my-modal').css('display', 'none');
    }

    function changeMenu(toggle) {
        if (toggle) {
            $('#toggle').css('display', 'block');
            $('aside.menuItens').css('display', 'none');
            $('.my-nav2').css('display', 'none');
            $('#my-modal').css('display', 'none');
        } else {
            $('#toggle').css('display', 'none');
            // $('aside.menuItens').css('display', 'block');
            $('.my-nav2').css('display', 'block');
            $('#my-modal').css('display', 'block');
        }
    }



</script>

</html>